<mat-card class="custom">
    <mat-card-title>Pesquisar Cliente</mat-card-title>

    <table class="example-full-width" cellspacing="0">
        <tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="cliente.nome" name="Nome">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>CPF</mat-label>
            <input mask="000.000.000-00" matInput [(ngModel)]="cliente.cpf" name="CPF">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="cliente.dataNascimento" name="dataNascimento">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sexo</mat-label>
            <mat-select [(ngModel)]="cliente.sexo" name="sexo" (ngModelChange)="cliente.sexo = $event ? $event : null">
                <mat-option [value]="">Sexo</mat-option>
                <mat-option [value]="1">M</mat-option>
                <mat-option [value]="2">F</mat-option>
            </mat-select>
            </mat-form-field></td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Endereço</mat-label>
            <input matInput [(ngModel)]="cliente.endereco" name="Endereco">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="cliente.estado" name="uf" (ngModelChange)="cliente.estado = $event ? $event : null">
                <mat-option [value]="">Estado</mat-option>
                <mat-option [value]="'AC'">AC</mat-option>
                <mat-option [value]="'AL'">AL</mat-option>
                <mat-option [value]="'AP'">AP</mat-option>
                <mat-option [value]="'AM'">AM</mat-option>
                <mat-option [value]="'BA'">BA</mat-option>
                <mat-option [value]="'CE'">CE</mat-option>
                <mat-option [value]="'DF'">DF</mat-option>
                <mat-option [value]="'ES'">ES</mat-option>
                <mat-option [value]="'GO'">GO</mat-option>
                <mat-option [value]="'MA'">MA</mat-option>
                <mat-option [value]="'MT'">MT</mat-option>
                <mat-option [value]="'MS'">MS</mat-option>
                <mat-option [value]="'MG'">MG</mat-option>
                <mat-option [value]="'PA'">PA</mat-option>
                <mat-option [value]="'PB'">PB</mat-option>
                <mat-option [value]="'PR'">PR</mat-option>
                <mat-option [value]="'PE'">PE</mat-option>
                <mat-option [value]="'PI'">PI</mat-option>
                <mat-option [value]="'RJ'">RJ</mat-option>
                <mat-option [value]="'RN'">RN</mat-option>
                <mat-option [value]="'RS'">RS</mat-option>
                <mat-option [value]="'RO'">RO</mat-option>
                <mat-option [value]="'RR'">RR</mat-option>
                <mat-option [value]="'SC'">SC</mat-option>
                <mat-option [value]="'SP'">SP</mat-option>
                <mat-option [value]="'SE'">SE</mat-option>
                <mat-option [value]="'TO'">TO</mat-option>
            </mat-select>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cidade</mat-label>
            <input matInput [(ngModel)]="cliente.cidade" name="Cidade">
        </mat-form-field></td>
        <td>
            <div class="button-row" style="display: flex; justify-content: flex-end">
                <button mat-flat-button color="primary" (click)="filterClients(cliente)" >Pesquisar</button>
                <button mat-flat-button class="custom" (click)="cleanClientFilters()" >Limpar</button>
            </div>
        </td>
        </tr></table>
</mat-card>
