<p>
  <mat-toolbar color="primary">
    <img src="assets/imgs/upd8-logo.png" width="90"/>
    <span>Teste Dev</span>
  </mat-toolbar>
</p>


<div class="main-div">

  <app-search-client
  (clienteFiltered)="clienteFilteredRefresh($event)"
  ></app-search-client>

  <br>

  <mat-card class="custom">
    <div class="button-row">
      <button mat-flat-button color="primary" (click)="initNewCliente()">Cadastrar Cliente</button>
    </div>

    <div style="padding:10px">
      <table class="table">
          <thead>
              <tr>
                  <th>Cliente</th>
                  <th>CPF</th>
                  <th>Data Nascimento</th>
                  <th>Estado</th>
                  <th>Cidade</th>
                  <th>sexo</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cliente of clientes | paginate: { itemsPerPage: 5, currentPage: page }">
                  <td>
                    {{cliente.nome}}
                  </td>
                  <td>
                    {{cliente.cpf}}
                  </td>
                  <td>
                    {{cliente.dataNascimento}} 
                  </td>
                  <td>
                    {{cliente.estado}}
                  </td>
                  <td>
                    {{cliente.cidade}}
                  </td>
                  <td>
                      <p *ngIf="cliente.sexo == 1">M</p>
                      <p *ngIf="cliente.sexo == 2">F</p>
                  </td>
                  <td>
                    <div class="button-row">
                      <button mat-flat-button color="primary" (click)="editCliente(cliente)">Editar</button>
                      <button mat-flat-button color="warn" (click)="deleteCliente(cliente)">Deletar</button>
                    </div>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>

    <div class="has-text-centered">
      <pagination-controls previousLabel="Anterior" nextLabel="Próximo" (pageChange)="page = $event"></pagination-controls>
    </div>

  </mat-card>

  <br>

  <app-edit-client
    [cliente]="clienteEditar" 
    (clienteCreated)="clienteCreatedRefresh($event)"
    (clienteDeleted)="clienteDeletedRefresh($event)"
    (closeEditScreenEmited)="closeEditScreenEvent()"
  ></app-edit-client>

</div>